$white       : #FFFFFF;
$light-grey	 : #f5f5f5;
$dark-grey   : #525866;
$primary-color: #008CBA;
$secondary-color: steelblue;

//TB Mega Menu
$tb-mega-menu-bg: $white;
$tb-mega-menu-dropdown-bg: $tb-mega-menu-bg;
$tb-mega-menu-bg-li-a: $secondary-color;
$tb-mega-menu-bg-li-a-bg: $white;
$tb-mega-menu-bg-li-h: $white;
$tb-mega-menu-bg-li-h-bg: $secondary-color;

// Accordion
$accordion-navigation-bg-color: $dark-grey;
$accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -15%);
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -13%);
$accordion-navigation-font-color: $white;
// $accordion-navigation-font-size: rem-calc(16);
// $accordion-navigation-font-family: $body-font-family;

// $accordion-content-padding: ($column-gutter/2);
$accordion-content-active-bg-color: $dark-grey;
