.block-webform-client-block-10{
	margin-top: -83px;
	padding: 25px;
		.accordion
		{
		  .accordion-navigation
		  {
		    .content
		    {
		      display: block;
		      max-height: 0;
		      overflow-y: auto;
		      // leave the top and bottom padding at 0, have the sides match the .active element's padding value below
		      padding: rem-calc(0 16);
		      // change as desired but the transition needs to cover both max-height and padding; this is how long the panel takes to close
		      transition: ease 0.4s all;
		      &.active
		      {
		        // change as desired
		        max-height: 80vh;
		        // change as desired
		        padding: rem-calc(16);
		        // change as desired; this is how long the panel takes to open
		        transition: ease 0.4s all;
		        // change as desired, but for best results keep at around half the other transition durations
		        transition-delay: 0.2s;
		      }
		    }
		  }
		}
	.webform-client-form-10{
			.webform-component--left{
				label{
					color: $white;
				}
				border:none;
			}
			.webform-component--right{
				label{
					color: $white;
				}
				border:none;
				.webform-component--right--email-address{
					margin: 0!important;
				}
				.webform-component--right--appointment-date{
					margin-bottom:0!important;
				}
			}
			.webform-submit{
			    background: white;
			    color: grey;
			    margin-left: 16px;
			    margin-top: -15px;
			    }
	}
}
.webform-container-inline.webform-datepicker  div.form-item.form-type-select {
    display: none;
}


	.appointment-link{
		text-align: center;
		cursor: pointer;
	    display: block;
	    padding: 15px 15px 15px 25px;
		    font-size: 14px;
		    font-weight: 700;
		    border-bottom: 1px solid #CCC;
		    width: 280px;
		    -webkit-border-top-left-radius: 5px;
		    -webkit-border-top-right-radius: 5px;
		    -moz-border-radius-topleft: 5px;
		    -moz-border-radius-topright: 5px;
		    border-top-left-radius: 5px;
 		    border-top-right-radius: 5px;
		}


