@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.block-views-front-tabs-block{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $light-grey;
    padding: 50px;

ul.tabs {
  border-bottom: 1px solid;
  border-color: scale-color($light-grey, $lightness: -13%);
  margin: 0px;
  list-style: none;
  li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    &.current{
      border-bottom: solid 5px $secondary-color;
      h4{
        color: $secondary-color;
      }
    }
  }
}

.tab-content {
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0;
  display: none;
  padding: 15px;
  &.current {
    display: block;
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
    opacity: 1;
  }
}
}    