.view-latest-news{
	.view-content{
		.field-content{
			.latest-news{
				padding: 5px;
				.teaser-text{
					padding: 15px;
					h4{
						text-align: center;
						font-size: 20px;
					}
					p{
						font-size: 15px;
					}
				}
			}
		}
	}
}