.block-views-our-team-front-block{
  .view-our-team-front{
    .field-content{
      .our-team{
        padding: 5px;
        .team-description{
          h4{
            padding-top: 20px;
            color: $secondary-color;
            font-weight: 500;
            line-height: 0;
          }
          span{
            font-size: 15px;
            font-weight: 200;
          }
          p{
            padding-top: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

