.parallax-container{
  text-align:center;
  background: url(../images/parallax-box.png);
    width: 100%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 200px 0px 90px 0px;
    h2{
    	color:$white;
    }
    h3{
    	color:$white;
    }	
}