.field-content{
	.medium-4{
		padding: 20px;
		.service-icon{
			i{
				text-align: center;
			    width: 65px;
			    height: 65px;
			    line-height: 65px;
			    -webkit-border-radius: 4px;
			    -moz-border-radius: 4px;
			    border-radius: 4px;
			    background-color: $secondary-color;
			    color: #ffffff;
			    font-size: 28px;
			}
		}
	}
}