/* Remember to replace the code in tb-megamenu.tpl.php in the module with this one so it does not trigger collapse
  <div <?php print $attributes;?> class="<?php print $classes;?>">
     <?php if($section == 'frontend') :?>
       <div>
     <?php endif;?>
     <?php print $content;?>
     <?php if($section == 'frontend') :?>
       </div>
     <?php endif;?>
   </div>

  */ 


//Block Settings
.block-tb-megamenu{


}



/* TB Mega Menu Blue Style CSS Overide */ 
.tb-megamenu .nav > li > a{
  padding: 5px 15px;
  margin-top: 15px;
  outline: none;
    -webkit-transition: all 0.35s ease-in-out;
    -khtml-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.tb-megamenu.style-blue  {
  float:right;
  background-color: $tb-mega-menu-bg;
}

.tb-megamenu.style-blue  .nav > li > a {
  color: $tb-mega-menu-bg-li-a;
  border-right: none;
}

.tb-megamenu.style-blue  .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}

.tb-megamenu.style-blue  .dropdown-menu {
  border-bottom-color: $tb-mega-menu-bg-li-a;
}
.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a{
  padding: 5px 15px;
}
.tb-megamenu.style-blue  .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu.style-blue  .nav li.dropdown.open.active > .dropdown-toggle {
  text-align: center;
  background-color: $tb-mega-menu-bg-li-a-bg;
  border-right-color: $tb-mega-menu-bg-li-a;
  color: $tb-mega-menu-bg-li-a;
}

.tb-megamenu.style-blue  .nav > li.dropdown.open.active > a:hover,
.tb-megamenu.style-blue  .nav > li.dropdown.open.active > a:focus {
  background-color: $tb-mega-menu-bg-li-h-bg;
  border-right-color: $tb-mega-menu-bg-li-a;
  color: $tb-mega-menu-bg-li-h;
}

.tb-megamenu.style-blue  .nav > li > a:focus {
  color: $tb-mega-menu-bg-li-a;
}
.tb-megamenu.style-blue  .nav > li > a:hover{
  background-color: $tb-mega-menu-bg-li-h-bg;
  color: $tb-mega-menu-bg-li-h;
}

.tb-megamenu.style-blue  .nav li.dropdown.open > .dropdown-toggle {
  color: $tb-mega-menu-bg-li-a;
}

.tb-megamenu.style-blue  .dropdown-menu li > a:hover,
.tb-megamenu.style-blue  .dropdown-menu li > a:focus,
.tb-megamenu.style-blue  .dropdown-submenu:hover > a {
  color: $tb-mega-menu-bg-li-h;
  background-color: $tb-mega-menu-bg-li-h-bg;
}

.tb-megamenu.style-blue  .nav > .active > a,
.tb-megamenu.style-blue  .nav > .active > a:hover,
.tb-megamenu.style-blue  .nav > .active > a:focus {
  text-align: center;
  color: $tb-mega-menu-bg-li-h;
  text-shadow: none;
  background-color: $tb-mega-menu-bg-li-h-bg;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.tb-megamenu.style-blue  .block-view-demo .views-field-field-image img {
  border: 1px solid #eee;
}

.tb-megamenu.style-blue  .block-view-demo .item-list ul li {
  border-bottom: 1px solid #eee;
}

@media (max-width: 979px) {
  .tb-megamenu.style-blue  {
  background-color: inherit;
}
.tb-megamenu.style-blue  .nav-collapse .nav > li > a:hover,
.tb-megamenu.style-blue  .nav-collapse .nav > li > a:focus {
  color: #00aeee;
  }
.tb-megamenu.style-blue  .nav-collapse .nav > li.active > a:hover,
.tb-megamenu.style-blue  .nav-collapse .nav > li.active > a:focus {
  background-color: #00aeee;
  color: #fff;
}
}


