.view-testimonials{
	.view-content{
		.field-content{
			.row{
				img{
					max-width: 100px;
				    margin: 0 auto 10px auto;
				    -webkit-border-radius: 50%;
				    -khtml-border-radius: 50%;
				    -moz-border-radius: 50%;
				    -ms-border-radius: 50%;
				    -o-border-radius: 50%;
				    border-radius: 50%;
				}
			}
		}
	}
}

