
.top-header-details {
  height: 35px;
  background: $dark-grey;
  .row{
  	width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
  	span {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 5px 0 0 0;
    float: left;
  	}
  
	  .get-in-touch {
	    float: right;
	    ul {
	    	margin-bottom: 0;
	    	list-style: none;
	      float: left;
	    }
	    li {
	      float: left;
	      border-left: solid 1px #9fa3aa;
	      i {
	        &.icon-phone4 {
	          margin: 1px 5px 0 0;
	          float: left;
	          font-size: 20px;
	        }
	        &.icon-mail {
	          float: left;
	          font-size: 20px;
	          margin: 1px 7px 0 0;
	        }
	      }
	      &:last-child {
	        border-right: none;
	      }
	    }
	  }
	  .social-icons li:last-child {
	    border-right: solid 1px #9fa3aa;
	  }
	  .get-in-touch {
	    li {
	      a {
	        color: #fff;
	        padding: 5px 14px;
	        float: left;
	      }
	      i {
	        font-size: 18px;
	      }
	    }
	    &.social-icons {
	      float: left;
	      li a {
	        padding: 13px 10px;
	      }
	    }
	    .social-icons li {
	      a {
	        &.fb:hover {
	          background: #5c85ce;
	        }
	        &.tw:hover {
	          background: #02c0f2;
	        }
	        &.gp:hover {
	          background: #eb6850;
	        }
	      }
	      &:last-child a:hover {
	        color: #fff;
	      }
	    }
	  }
	}
}