// Non-modular or client styles for .l-footer region.
.footersecond{
	background-color: scale-color($dark-grey, $lightness: -13%);
	padding-bottom: 250px;
}
.footer-logo{
	margin-top: 50px;
	color: $white;
	p{
		padding-top: 10px;
		padding-left: 5px;
	}
	ul{
		padding-left: 10px;
		li{
			i{
				color:$white;
			}
		}
	}
}

.block-system-main-menu{
	margin-top: 50px;
	h2{
		color: $white;
	}
	ul{
		list-style: none;
		li{
		 	a{
		 		color: $white;
		 	}
		}
	}
}
.block-block-5{
	@extend .block-system-main-menu;
	li{
	color: $white;
	}
}