// Non-modular or client styles for the .l-content region.
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.clear-bot{
	margin-bottom: 90px;
}

.gridcontain{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 62.5rem;
    padding: 20px;
}
.fullwidthblocks{
	
}

  .view-header{
    margin-top: 90px;
    h2{
      font-weight: 500;
    }
    h4{
      font-weight: 300;
      margin-bottom: 25px;
    }

  }